aiohappyeyeballs
aiohttp
aiosignal
altair
altgraph
annotated-types
anthropic
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
blessed
blinker
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
comm
contourpy
coverage
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
distro
dnspython
docopt
editor
email_validator
et_xmlfile
exceptiongroup
executing
faiss-cpu
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
future
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
importlib-metadata
importlib_resources
iniconfig
inputimeout
inquirer
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
Levenshtein
lib-resume-builder-AIHawk
loguru
lxml
macholib
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
ollama
openai
openpyxl
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer.six
pexpect
pickleshare
Pillow
pip
pipreqs
pipreqsnb
platformdirs
plotly
pluggy
poppler-utils
prometheus_client
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycats
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PyPDF2
PySocks
pytest
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
RapidFuzz
readchar
referencing
regex
reportlab
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
runs
safetensors
scikit-learn
scipy
seaborn
selenium
Send2Trash
sentence-transformers
setuptools
six
sklearn
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
streamlit
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
toolz
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
types-python-dateutil
typing_extensions
typing-inspect
tzdata
tzlocal
uri-template
uritemplate
urllib3
validators
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
wheel
widgetsnbextension
wsproto
xmltodict
xmod
yarg
yarl
zipp
